.rotate {
text-align: center;
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

*{font-family: "Calibri";	
	font-size:15px}
	
hr{
	margin-top: 20px;
    margin-bottom: 5px; 
}
.piePagina{font-size:11px}
@page :first {
 margin-left: 0.5cm;
}