.micuerpo{font-family: "Calibri";	color: rgb(0,0,255);
	font-size:15px}
.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
.divFecha{font-size:12px}
.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h4{font-weight:700;
    margin-top: 4px;
    margin-bottom: 4px;
}
.divHistoria{border-style: groove; border-color: #0251D1;
  padding:0px 5px;
box-shadow: 3px 3px 5px #888;}
hr{margin-top: 10px;
    margin-bottom: 5px;}



@media print {
    * .success {
      color: rgb(0,0,255) !important;
    }  
}